.calendar__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 75px 200px 200px 200px 200px;
  grid-gap: 2px;
  font-family: $montserrat, $sansSe;
  font-size: $xx_large;
  font-weight: $bold;
  color: $numbers;
  height: 100%;
  margin: 0 auto;
}
.calendar__weekday {
  margin-left: 25px;
}
.day__container {
  background-color: $calendarDayContainer;
  padding: 25px;
}
.day__container--with-event {
  border-bottom: solid 10px $eventDetail;
}
.day__notifications {
  font-size: $normal;
  color: $futureEvent;
  display: inline-block;
  vertical-align: bottom;
  overflow: auto;
}
.day__notifications-deadline--completed {
  color: $deadlineFinished;
}
.day__notifications-deadline--pastDeadline {
  color: $deadlineUnfinished;
}
.day__notifications-deadline--nearbyDeadline {
  color: $deadlineClose;
}
.day__notifications-deadline--gotSlack {
  color: $futureDeadline;
}
.deadline__point {
  width: 18px;
  height: 18px;
  display: inline-block;
  border-radius: 50%;
  margin-right: 10px;
}
.deadline__point--completed {
  background-color: $deadlineFinished;
}
.deadline__point--pastDeadline {
  background-color: $deadlineUnfinished;
}
.deadline__point--nearbyDeadline {
  background-color: $deadlineClose;
}
.deadline__point--gotSlack {
  background-color: $futureDeadline;
}
