.chart__project--completed-tasks {
  width: 1035px;
  height: 588px;
  background-color: $chartTasks;
  margin-right: 25px;
}

.chart__project--top-contributors {
  width: 685px;
  height: 588px;
  background-color: $chartContributors;
}

.statistics__charts {
  display: flex;

}
