.projects__statistics--container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 0.6fr 0.8fr;
  grid-template-rows: auto;
  grid-gap: 27px;
}

.projects__projects {
  background-color: $statisticsDataProjects;
}

.projects__tasks {
  background-color: $statisticsDataTasks;
}

.projects__weeks {
  background-color: $statisticsDataWeeks;
}

.projects__commits {
  background-color: $statisticsDataCommits;
}
.projects__hours {
  background-color: $statisticsDataHours;
}

.data-number {
  color: $numbers;
  font-size: $xxx_large;
  font-weight: $semibold;
  margin: 0;
}

.data-tags {
  color: $paragraph;
  font-size: $normal;
  font-weight: $medium;
}

.statistics__data {
  padding: 20px;
}

.statistics__chart {
  width: auto;
  height: 535px;
  color:$paragraph;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-gap: 90px;
  margin-top: 70px;
}

.chart-commits {
  background-color: $chartBackground;
  padding-top: 50px;
  font-family: $montserrat;
  font-weight: $bold;
  font-size: $large;
  padding-left: 30px;
}

.chart-hours {
  background-color: $chartBackground;
  padding-top: 50px;
  font-family: $montserrat;
  font-weight: $bold;
  font-size: $large;
  padding-left: 30px;
}
