#root {
  width: 100%;
  overflow-x: hidden;
}
.visor {
  height: 100%;
  display: flex;
  position: relative;
  left: 0;
}
.databoard {
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  overflow-x: hidden;
}
