
$night-blue: #061135;
$bright-light-blue: #3dcef0;
$grey: #7f7f7f;
$vermillion: #fa2913;
$golden: #f6c500;
$light-blue: #31cef2;
$light-navy: #17517f;
$white: #ffffff;
$green: #7ed321;
$squash: #f5a623;
$water:#4a90e2;
$dark-peach: #e37c61;
$dark-sky-blue: #32a4e3;
$light-green: #b8e986;

// general
$pagesbackground: $night-blue;
$footernumber:$light-navy;
$footerdetails: $dark-sky-blue;
$titles:$white;
$paragraph:$white;
$nombers:$white;
// calendar
$selectedday:$bright-light-blue;
$deadlinefinished: $grey;
$deadlineunfinished: $vermillion;
$deadlineclose: $golden;
$futureevent:$light-blue;
$futuredeadline:$light-blue;
$eventdetail:$light-blue;
$calendardaycontainer:$light-navy;
// projects
$statisticsdataprojects: $bright-light-blue;
$statisticsdatatasks:$green;
$statisticsdataweeks:$squash;
$statisticsdatacommits:$water;
// detailproject
$statisticsdatatotalhours: $squash;
$statisticsdataprogress:$bright-light-blue;
$statisticsdatahoursperweek: $water;
$statisticsdataprojectcommit: $dark-peach;
$charttasks:$light-navy;
$chartcontributors: $dark-sky-blue;
// team
$averagecontainertasks: $bright-light-blue;
$averagecontainercommits: $squash;
$peoplecontainer:$light-navy;
// bar charts
$chartfirstbar: $dark-sky-blue;
$chartsecondbar: $golden;
$chartthirdbar: $light-green;
$chartfourthbar: $dark-peach;
$chartfifthbar: $squash;
// dots charts
$chartdotsfinished: $bright-light-blue;
$chartdotsfinishedtext:$bright-light-blue;
$chartdotsunfinished: $squash;
$chartdotsunfinishedtext: $squash;
