.header__container {
  display: flex;
  color: $titles;
  font-family: $montserrat, $sansSe;
  font-weight: $bold;
  letter-spacing: 3.4px;
  margin-bottom: 35px;
  height: 58px;
}

.header__title--which-dashboard {
  margin: 0;
  font-size: $xx_large;
}

.header__title--which-project {
  margin: 0;
  font-size: $xx_large;
}
