.header__title {
  display: flex;
  color: #ffffff; }

.table__calendar {
  border-collapse: collapse;
  margin: 0 auto; }

.table__calendartable, .calendar__day, .calendar__week {
  border: 1px solid #17517f; }

.calendar__day {
  width: 350px;
  height: 210px;
  display: inline-block; }

.callendar__day--number {
  color: #ffffff;
  vertical-align: top; }

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #061135; }

.container__all {
  margin: 0;
  padding: 0;
  justify-content: center;
  flex-direction: column;
  align-items: center; }

.main__container {
  display: grid;
  grid-template-columns: 1fr;
  margin: auto; }

.statistics__container {
  color: orange;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 134px;
  grid-gap: 27px; }

.statistics__data {
  padding: 20px; }

.statistics__chart {
  width: auto;
  height: 535px;
  color: white;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-gap: 90px;
  margin: 30px; }

.chart-commits {
  background-color: rgba(23, 81, 127, 0.6);
  padding: 40px; }

.chart-hours {
  background-color: rgba(23, 81, 127, 0.6);
  padding: 40px; }

.footer__container {
  display: flex;
  color: #ffffff; }

.footer__notif-details {
  display: grid;
  width: 1729px;
  grid-template-columns: 288px 1fr 230px; }

.footer__notif-number {
  width: 395px; }
