@import "styles/core/variables";
@import "styles/layouts/notifications";
@import "styles/layouts/header";
@import "styles/components/projects";
@import "styles/components/projectdetail";

* {
  margin: 0;
  padding: 0;
}

body {
  margin-top: 41px;
  margin-bottom: 50px;
  margin-left: 75px;
  margin-right: 75px;
  background-color: $pagesbackground;
}
