#root {
  width: 100%;
  overflow-x: hidden; }

.visor {
  height: 100%;
  display: flex;
  position: relative;
  left: 0; }

.databoard {
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  overflow-x: hidden; }

.header__container {
  display: flex;
  color: #ffffff;
  font-family: "Montserrat", "sans-serif";
  font-weight: 900;
  letter-spacing: 3.4px;
  margin-bottom: 35px;
  height: 58px; }

.header__title--which-dashboard {
  margin: 0;
  font-size: 48px; }

.header__title--which-project {
  margin: 0;
  font-size: 48px; }

.calendar__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 75px 200px 200px 200px 200px;
  grid-gap: 2px;
  font-family: "Montserrat", "sans-serif";
  font-size: 48px;
  font-weight: 900;
  color: #ffffff;
  height: 100%;
  margin: 0 auto; }

.calendar__weekday {
  margin-left: 25px; }

.day__container {
  background-color: #17517f;
  padding: 25px; }

.day__container--with-event {
  border-bottom: solid 10px #31cef2; }

.day__notifications {
  font-size: 25px;
  color: #31cef2;
  display: inline-block;
  vertical-align: bottom;
  overflow: auto; }

.day__notifications-deadline--completed {
  color: #7f7f7f; }

.day__notifications-deadline--pastDeadline {
  color: #fa2913; }

.day__notifications-deadline--nearbyDeadline {
  color: #f6c500; }

.day__notifications-deadline--gotSlack {
  color: #31cef2; }

.deadline__point {
  width: 18px;
  height: 18px;
  display: inline-block;
  border-radius: 50%;
  margin-right: 10px; }

.deadline__point--completed {
  background-color: #7f7f7f; }

.deadline__point--pastDeadline {
  background-color: #fa2913; }

.deadline__point--nearbyDeadline {
  background-color: #f6c500; }

.deadline__point--gotSlack {
  background-color: #31cef2; }

.projects__statistics--container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 0.6fr 0.8fr;
  grid-template-rows: auto;
  grid-gap: 27px; }

.projects__projects {
  background-color: #3dcef0; }

.projects__tasks {
  background-color: #7ed321; }

.projects__weeks {
  background-color: #f5a623; }

.projects__commits {
  background-color: #4a90e2; }

.projects__hours {
  background-color: #e37c61; }

.data-number {
  color: #ffffff;
  font-size: 50px;
  font-weight: 600;
  margin: 0; }

.data-tags {
  color: #ffffff;
  font-size: 25px;
  font-weight: 500; }

.statistics__data {
  padding: 20px; }

.statistics__chart {
  width: auto;
  height: 535px;
  color: #ffffff;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-gap: 90px;
  margin-top: 70px; }

.chart-commits {
  background-color: #17517f;
  padding-top: 50px;
  font-family: "Montserrat", "sans-serif";
  font-weight: 900;
  font-size: 30px;
  padding-left: 30px; }

.chart-hours {
  background-color: #17517f;
  padding-top: 50px;
  font-family: "Montserrat", "sans-serif";
  font-weight: 900;
  font-size: 30px;
  padding-left: 30px; }

.dx-visibility-change-handler {
  margin-top: 100px; }

.dashborad {
  background-color: grey;
  display: flex;
  flex-direction: column;
  justify-content: space-around; }

.main__container-team {
  height: auto;
  display: grid;
  grid-template-columns: 0.28fr 0.28fr 0.22fr 0.22fr;
  grid-auto-rows: 50px;
  grid-gap: 20px;
  background-color: #061135; }

.chart__tasks {
  grid-column: 1 / 3;
  grid-row: 1 / 7;
  background-color: rgba(23, 81, 127, 0.6);
  padding: 40px 25px 30px 25px; }

.tasks-title {
  color: #ffffff;
  font-family: "Montserrat", "sans-serif";
  font-size: 30px;
  font-weight: 900;
  margin: 0; }

.chart__commits {
  grid-column: 1 / 3;
  grid-row: 7 / 13;
  background-color: rgba(23, 81, 127, 0.6);
  padding: 40px 25px 30px 25px; }

.commits-title {
  color: #ffffff;
  font-family: "Montserrat", "sans-serif";
  font-size: 30px;
  font-weight: 900;
  margin: 0; }

.average__container {
  grid-column: 3 / 5;
  grid-row: 1 / 3; }

.average__container-commits {
  background-color: #f5a623;
  color: #ffffff;
  font-family: "Montserrat", "sans-serif";
  padding: 20px 50px 24px 50px; }

.commits-number {
  font-weight: 600;
  font-size: 50px;
  margin: 0; }

.commits-text {
  font-weight: 500;
  font-size: 25px;
  margin: 0; }

.average__container-tasks {
  background-color: #3dcef0;
  color: #ffffff;
  font-family: "Montserrat", "sans-serif";
  font-size: 30px;
  font-weight: 900;
  padding: 20px 50px 24px 50px;
  margin-top: 28px; }

.tasks-number {
  font-weight: 600;
  font-size: 50px;
  margin: 0; }

.tasks-text {
  font-weight: 500;
  font-size: 25px;
  margin: 0; }

.people__container-asana {
  grid-column: 3;
  grid-row: 6/ 13;
  background-color: #17517f;
  color: #ffffff;
  text-align: center;
  font-family: "Montserrat", "sans-serif";
  padding: 30px 0 30px 0; }

.asana-title {
  font-size: 30px;
  font-weight: 900;
  margin: 0; }

.people__container-git {
  grid-column: 4;
  grid-row: 6 / 13;
  background-color: #17517f;
  color: #ffffff;
  text-align: center;
  font-family: "Montserrat", "sans-serif";
  padding: 30px 0 30px 0; }

.git-title {
  font-size: 30px;
  font-weight: 900;
  margin: 0; }

.killer-name {
  font-size: 25px;
  font-weight: 900; }

.killer-record {
  font-size: 45px;
  font-weight: 600; }

.killer-detail {
  max-width: 250px;
  font-size: 25px;
  font-weight: 400;
  margin: 0 auto; }

.profile-pic {
  width: 119px;
  height: 119px;
  background-image: url("./images/test-pic.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
  border-radius: 50%;
  margin-top: 38px; }

.commits-pic {
  width: 832px;
  height: 397px;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
  margin-top: 18px; }

.team-member__photo {
  border-top: 1px solid white;
  display: flex;
  justify-content: space-around; }

.team-member__photo--circles {
  border-radius: 100px;
  width: 40px;
  height: 40px;
  margin-top: 20px; }

.project__progress {
  background-color: #3dcef0;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.project__hours {
  background-color: #f5a623; }

.project__hours--week {
  background-color: #4a90e2; }

.project__commits {
  background-color: #e37c61; }

.progress__integer--completed {
  color: #ffffff;
  font-size: 25px;
  font-weight: 500; }

.detailedprojects__statistics--container {
  display: grid;
  grid-template-columns: 2fr 1fr 0.6fr 0.8fr;
  grid-template-rows: 134px;
  grid-gap: 27px;
  margin-bottom: 36px; }

.statistics__charts {
  display: grid;
  grid-template-columns: 1.25fr 0.75fr; }

.top-contributors__chart {
  margin: 31px; }

.chart__project--completed-tasks {
  height: 588px;
  background-color: #17517f;
  margin-right: 25px; }

.chart__project--top-contributors {
  height: 588px;
  background-color: #32a4e3; }

.top-contributors__title {
  font-weight: 900;
  font-size: 30px;
  letter-spacing: 2.1px;
  color: #ffffff; }

.top-contributors__list {
  margin-top: 22px;
  font-weight: 600;
  font-size: 30px;
  letter-spacing: 2.1px;
  color: #ffffff;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  list-style: none; }

.top-contributors__list--element {
  padding: 15.5px;
  border-bottom: 1px solid #17517f; }

.footer__container {
  display: grid;
  grid-template-columns: 0.22fr 0.78fr;
  margin-top: 30px;
  color: #ffffff;
  font-family: "Montserrat", "sans-serif";
  height: 70px; }

.footer__notif-details {
  display: grid;
  grid-template-columns: 0.22fr 0.56fr 0.22fr;
  align-items: center;
  padding-left: 32px;
  background-color: #32a4e3; }

.footer__bell {
  text-align: center; }

.footer__notif-number {
  font-size: 25px;
  font-weight: 900;
  letter-spacing: 2.1px;
  background-color: #17517f;
  display: flex;
  align-items: center;
  justify-content: center; }

.detail__notif-category {
  display: flex;
  font-size: 25px;
  font-weight: 600;
  letter-spacing: 1.8px; }

.detail__notif-type {
  margin-left: 3px; }

.detail__notif-content {
  font-size: 25px;
  font-weight: 600;
  letter-spacing: 1.8px; }

.detail__notif-time {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 1.8px; }

* {
  margin: 0;
  padding: 0; }

body {
  padding-top: 41px;
  padding-left: 75px;
  padding-right: 75px;
  background-color: #061135;
  font-family: "Montserrat"; }

.App {
  width: 100%; }
