@import "styles/core/variables";
@import "styles/core/mixings";
@import "styles/layouts/header";
@import "styles/components/calendar";
@import "styles/components/projects";
@import "styles/components/team";
@import "styles/components/projectdetail";
@import "styles/layouts/notifications";

* {
  margin: 0;
  padding: 0;
}
body {
  padding-top: 41px;
  padding-left: 75px;
  padding-right: 75px;
  background-color: $pagesBackground;
  font-family: $montserrat;
}
.App {
  width: 100%
}
